.git
.github
.gitignore

node_modules
dist
coverage
.nyc_output

*.log
npm-debug.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.vscode
.idea

**/*.spec.ts
test
jest-e2e.json

README.md
.prettierrc
eslint.config.mjs

.temp
.tmp
